@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-highlight {
  color: orange;
}
section {
  height: 600px;
  width: 100%;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  padding-bottom: 50px;
}
.half-width img {
  width: 100%;
  height: 600px;
}
p {
  text-align: justify;
}
.top-banner {
  background-image: url("image/top-banner.png");
  background-repeat: no-repeat;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
.Middle-banner {
  margin-top: 20px;
  background-image: url("image/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 30px;
}
.cv-text {
  padding-right: 40px;
}
.card-banner {
  width: 100%;
  float: left;
  background-image: url("image/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.card-banner h2 {
  font-size: 40px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 30px;
}
.card-head {
  font-size: 30px;
}
.card {
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 300px;
  padding-right: 20px;
  margin-right: 0px;
  background-color: white;
}
#First-card {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#First-card:hover {
  box-shadow: 10px 10px 20px gray;
}
#Second-card {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer {
  float: left;
}
footer p {
  margin-left: 700px;
  text-align: center;
  font-size: 12px;
}
